@import "primevue/resources/themes/lara-dark-purple/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-image: url('image.webp');
  background-size: 100%;
  background-attachment: fixed;
}

.mb-05rem {
  margin-bottom: 0.5rem;
}

body::-webkit-scrollbar-track{background: #060D15  }
body::-webkit-scrollbar{width: 7px;}
body::-webkit-scrollbar-thumb{ background-color: rgb(111, 0, 255) ; }